---
import { getCollection } from 'astro:content'

import Workbench from '$layouts/Workbench.astro'
import { Prose, Window } from '$components/index.astro'

export async function getStaticPaths() {
  const pageEntries = await getCollection('page')
  return pageEntries.map(entry => ({
    params: { slug: entry.slug },
    props: { entry }
  }))
}

const { entry } = Astro.props
const { data, slug } = entry
const { name, description } = data

const { Content } = await entry.render()

const { pathname } = Astro.request.url
---

<Workbench title={name} description={description} url={`/${slug}`}>
  <Window
    id={slug}
    {name}
    level={1}
    active={pathname === `/${slug}`}
    depth
    zoom
    url="/"
  >
    <div class="w-full max-w-xl">
      <Prose>
        <Content />
      </Prose>
    </div>
  </Window>
</Workbench>
