---
import { getCollection, getEntryBySlug } from 'astro:content'
import { SITE, LANCE_GUYATT } from '@/config'
import Workbench from '@/layouts/Workbench.astro'
import { Window, File } from '@/components/index.astro'
import * as page from '@/content/page/about.mdx'

const about = await getEntryBySlug('page', 'about')
const { Content } = await about.render()
const { slug, data } = about
const { name, description } = data

const title: string = `${name} - ${SITE.name}`
const { givenName, familyName, sameAs } = LANCE_GUYATT
---

<Workbench title={title} description={description} url={`/${slug}`}>
  <Window id="about" name={name} url="/">
    <nav aria-labelledby="about-items">
      <h3 class="sr-only" id="about-items">About items</h3>
      <ul class="inline-flex flex-wrap gap-3">
        {
          sameAs.map(({ name, url }) => (
            <li>
              <File name={name} url={url} target="_blank" rel="external" />
            </li>
          ))
        }
      </ul>
    </nav>
    <div class="prose prose-black">
      <Content />
    </div>
  </Window>
</Workbench>
