---
import Default from '@/layouts/Default.astro'
import Link from '@/components/Link.astro'
import { Nav, TitleBar, Window } from '@/components/index.astro'

const name = 'Workbench'
---

<Default>
  <div class="grid min-h-screen md:grid-cols-3 funk">
    <div class="grid grid-rows-[auto_1fr]">
      <TitleBar class="bg-foreground text-background">{name}</TitleBar>
      <Window id="workbench-window" name={name} active url="/" depth zoom>
        <div class="max-w-screen mx-auto w-full">
          <p>Workbench</p>
          <Nav id="workbench-nav" name="nav 1" vertical>
            <Link href="/about" active>About</Link>
            <Link icon="drawer" href="/work">Work</Link>
            <Link icon="file" href="/about">About</Link>
            <Link icon="disk" href="/about">About</Link>
          </Nav>
        </div>
      </Window>
    </div>
    <div class="kickstart grid min-h-screen grid-rows-[auto_1fr]">
      <TitleBar class="bg-foreground text-background">Kickstart</TitleBar>
      <Window id="theme-2" {name} depth>
        <div class="max-w-screen mx-auto w-full">
          <p>Workbench</p>
          <Nav id="nav-2" name="Nav 2">
            <Link href="/about">About</Link>
            <Link icon="drawer" href="/work">Work</Link>
            <Link icon="file" href="/about">About</Link>
            <Link icon="disk" href="/about">About</Link>
          </Nav>
        </div>
      </Window>
    </div>
    <div class="dark grid min-h-screen grid-rows-[auto_1fr]">
      <TitleBar class="bg-foreground text-background">{name}</TitleBar>
      <Window id="window-3" name={name}>
        <div class="max-w-screen mx-auto w-full">
          <p>Workbench</p>
          <Nav id="nav-3" name="Nav 3">
            <Link href="/about">About</Link>
            <Link icon="drawer" href="/work">Work</Link>
            <Link icon="file" href="/about">About</Link>
            <Link icon="disk" href="/about">About</Link>
          </Nav>
        </div>
      </Window>
    </div>
  </div>
</Default>
