---
import Close from '~/components/Close.astro'

interface WindowProps {
  id: string
  name: string
  url?: string
  class?: string
}

const { id, name, url, class: className, ...attrs } = Astro.props as WindowProps
---

<section
  class:list={['window', 'bg-blue', className]}
  aria-labelledby={id}
  {...attrs}
>
  <div
    class="absolute -left-[4px] -right-[4px] -top-[20px] flex h-[18px] items-center"
  >
    <div class="flex-none">
      <Close name={`Close the ${name} window`} url={url} />
    </div>
    <div class="flex-auto overflow-hidden leading-[18px]">
      <h2 class="text-ellipsis whitespace-nowrap" id={id}>{name}</h2>
    </div>
  </div>
  <div class="flex-auto overflow-auto bg-gray p-3">
    <slot />
  </div>
</section>

<style lang="postcss" is:global>
  .window {
    @apply border-window grid relative;
  }
</style>
