---
import Close from '~/components/Close.astro'

interface WindowProps {
  id: string
  name: string
  url?: string
  class?: string
}

const { id, name, url, class: className, ...props } = Astro.props as WindowProps
---

<section
  class:list={[
    'window',
    'grid',
    'bg-primary',
    'text-primary-foreground',
    'relative',
    className
  ]}
  aria-labelledby={id}
  {...props}
>
  <div class="absolute h-18px flex items-center -left-4px -right-4px -top-20px">
    <div class="flex-none">
      <Close name={`Close the ${name} window`} url={url} />
    </div>
    <h2
      class="flex-auto overflow-hidden text-ellipsis whitespace-nowrap text-base/18px"
      id={id}
    >
      {name}
    </h2>
  </div>
  <div class="flex-auto overflow-auto bg-secondary p-3">
    <slot />
  </div>
</section>

<style lang="postcss">
  .window {
    border-width: 22px 4px 4px 4px;
    border-image: url(/images/window.svg) 22 4 4 4 stretch;
  }
</style>
