---
import { getEntry, getEntries } from 'astro:content'

import { type SiteProps, SITE } from '$config/index'
import Default from '$layouts/Default.astro'
import { Link, Nav, TitleBar, Window } from '$components/index.astro'

const nav = await getEntry('nav', 'main')
let navItems = null
if (nav.data?.items) navItems = await getEntries(nav.data.items)

export type WorkbenchProps = SiteProps & {
  class?: string
}

const { copyrightYear } = SITE
const {
  title,
  name,
  description,
  url,
  image,
  class: className,
  ...props
} = Astro.props as WorkbenchProps

const meta = { title, name, description, url, image }
const pathname = new URL(Astro.request.url).pathname
---

<Default {...meta} class={className} {...props}>
  <TitleBar role="banner" slot="header" depth>
    {SITE.title} Copyright &copy; 2000-{copyrightYear} All Rights Reserved
  </TitleBar>

  <slot />

  <Window
    id="workbench-window"
    name="Workbench"
    url="/kickstart"
    intent="backdrop"
    active={pathname === '/'}
    depth
    zoom
  >
    {
      navItems && (
        <Nav id="workbench-nav" name="Workbench" vertical>
          {navItems &&
            navItems.map(item => (
              <Link
                icon={item.data.icon}
                href={item.slug}
                active={pathname.includes(item.slug)}
              >
                {item.data.name}
              </Link>
            ))}
        </Nav>
      )
    }
  </Window>
</Default>
