---
import type { ISITE } from '~/config'
import { SITE } from '~/config'

import { Link, Nav, TitleBar, Window } from '~/components/index.astro'
import Default from './Default.astro'

export interface IWorkbench extends ISITE {
  class?: string
}

const { copyrightYear } = SITE
const {
  title,
  name,
  description,
  url,
  image,
  class: className,
  ...props
} = Astro.props as IWorkbench

const meta = { title, name, description, url, image }

const pathname = new URL(Astro.request.url).pathname

const links = [
  {
    name: 'Ram Disk',
    url: '/ram-disk',
    icon: 'disk'
  },
  {
    name: 'Work',
    url: '/work',
    icon: 'drive'
  },
  {
    name: 'About',
    url: '/about',
    icon: 'drive'
  }
]
---

<Default {...meta} {...props} class={className}>
  <TitleBar
    class="bg-secondary-foreground text-secondary"
    role="banner"
    slot="header"
  >
    {SITE.title} Copyright &copy; 2000-{copyrightYear} All Rights Reserved
  </TitleBar>
  <slot />
  <Window
    id="workbench-window"
    name="Workbench"
    url="/kickstart"
    intent="backdrop"
    active={pathname === '/'}
  >
    <Nav id="workbench-nav" name="Workbench" vertical>
      {
        links.map(({ name, url, icon }) => (
          <Link icon={icon} href={url} active={pathname === url}>
            {name}
          </Link>
        ))
      }
    </Nav>
  </Window>
</Default>
